{% extends 'googledriveapp/base.html' %} {% block body %}
<h2>File</h2>

{% if file_type == 'image' %}
<img src="{{ file_obj.file.url }}" alt="Image">
{% elif file_type == 'audio' %}
<audio controls>
    <source src="{{ file_obj.file.url }}" type="{{ mime_type }}">
    Your browser does not support the audio element.
</audio>
{% elif file_type == 'video' %}
<video controls>
    <source src="{{ file_obj.file.url }}" type="{{ mime_type }}">
    Your browser does not support the video element.
</video>
{% elif file_type == 'application' and 'pdf' in mime_type %}
<iframe src="{{ file_obj.file.url }}" width="100%" height="600px"></iframe>
{% else %}
<p>This file type is not supported for display.</p>
{% endif %}

{% endblock body %}